@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;500;700&display=swap%27');

html::-webkit-scrollbar {
    width: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #373b64;
}

html {
    background-color: hsla(0, 41%, 77%, 1);
    background-image: radial-gradient(at 81% 17%, hsla(28, 100%, 74%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 50%, hsla(279, 100%, 70%, 0.64) 0px, transparent 50%),
        radial-gradient(at 89% 62%, hsla(340, 100%, 76%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 100%, hsla(22, 100%, 77%, 1) 0px, transparent 50%),
        radial-gradient(at 51% 100%, hsla(242, 100%, 70%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 1) 0px, transparent 50%);
    animation: gradientMove 2.5s ease-in-out infinite alternate;

    background-position: 50% 50%;
    background-size: 200% 200%;
    background-repeat: no-repeat;
}

@keyframes gradientMove {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: IBMPlexSans, --apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #373b64;

    animation: preload 1.2s ease-in-out forwards;
}

@keyframes preload {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@font-face {
    font-family: 'IBMPlexSans';
    font-style: normal;
    font-weight: 500;
    src: url(/fonts/IBMPlexSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'IBMPlexSans';
    font-style: normal;
    font-weight: 600;
    src: url(/fonts/IBMPlexSans-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'IBMPlexSans';
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/IBMPlexSans-Bold.ttf) format('truetype');
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

p {
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
    margin: 0;
}

button {
    background-color: transparent;
    background-image: none;
    font-weight: 600;
}

/* glass-morphism */
.glass {
    background: hsla(0, 0%, 100%, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid hsla(0, 0%, 100%, 0.2);
    transition: 0.3s ease-in-out;
}

.glass:hover {
    background: hsla(0, 0%, 100%, 0.7);
    border: 1px solid #fff;
}

:root {
    --text-purple: rgba(67, 56, 202, 1);
    --text-purple-dark: rgba(79, 70, 229, 1);
    --text-black: rgba(17, 24, 39, 1);
    --text-white-100: rgba(229, 231, 235, 1);
}

.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    z-index: 9999;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid #fff;
    border-top-color: rgba(79, 70, 229, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
